@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("./top-view-books-with-copy-space.jpg");
  background-size: 100% 100%;
  background-position: center;
  font-family: 'Play', sans-serif;
}

.loginbox {
  
  width: 320px;
  height: 420px;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 25px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"]{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.submitform
{
  margin-top: 10px;
  border: 1px solid #063146;
  border-radius: 10px ;
  height: 38px;
  width: 50px;
  color: #fff;
  background: #063146;
  font-family: 'Play', sans-serif;
  font-size: 18px;
}

.flinks
{
  text-decoration: none;
  color: black;
  line-height: 30px;
}
.flinks:hover
{
  text-decoration: underline;
}
